@(slotForm: Form[Slot])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a Slot</h1>
    
    @form(routes.slotController.save()) {

        <fieldset>            
        @inputText(slotForm("number"),
            '_label -> "Slot Number"
        )
        @inputText(slotForm("room"),
            '_label -> "Room Number"
        )
        @inputText(slotForm("year"),
            '_label -> "Academic Year"
        )
        @inputText(slotForm("semester"),
            '_label -> "Semester"
        )
        @inputText(slotForm("week"),
            '_label -> "Week"
        )
        @select(slotForm("day"), 
              options = options(Days.list),
              '_label -> "Day"
        )
        @inputText(slotForm("start_time"),
            '_label -> "Start Time (24 Hour Format)"
        )
        @inputText(slotForm("duration"),
            '_label -> "Slot Duration"
        )
        @select(slotForm("module.id"), 
            options(Module.options), 
            '_label -> "Course", 
            '_default -> "-- Choose a module --",
            '_showConstraints -> false
        )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this slot" class="btn primary"> or 
            <a href="@routes.slotController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}