@(message: String)

@import helper._

@main {
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead"></p>
    </br>
        <a class="btn btn-success" href="/students">All Students</a>
        List of the student table </br>
    </br>
        <a class="btn btn-success" href="/staff">All Staff</a>
        List of the staff table </br>
    </br>
        <a class="btn btn-success" href="/modules">All Modules</a>
        List of the modules table </br>
    </br>
        <a class="btn btn-success" href="/courses">All Courses</a>
        List of the courses table </br>
    </br>
        <a class="btn btn-success" href="/slots">All Slots</a>
        List of the slots table </br>
    </br>
        <a class="btn btn-success" href="/attendances">All Attendance</a>
        List of the attendance table </br>
    </br>
        <a class="btn btn-success" href="/courseModules">Course Module Links</a>
        List of the course module table </br>
    </br>
        <a class="btn btn-danger" href="/mobile">Mobile</a>
        Mobile attendance URL </br>
      </div>
}