@(modules: List[Module], addModuleForm: Form[Module])

@import helper._
@import helper.twitterBootstrap._

@main("Module") {
    
    <h1>@modules.size() Module(s)</h1>
    
    <ul>
        @for(module <- modules) {
            <li>
                @module.crn
                @module.moduleCode
                @module.moduleName
                
                @form(routes.ModuleController.deleteModule(module.id)) {
                    <input type="submit" class="btn secondary" value="Delete">
                }
            </li>
        }
        
    </ul>
    
    <h2>Add a new module</h2>
    
    @form(routes.ModuleController.newModule()) {
        @helper.inputText(addModuleForm("crn"),
            '_label -> "Module CRN"
        )
        @helper.inputText(addModuleForm("moduleCode"),
            '_label -> "Module Code"
        )
        @helper.inputText(addModuleForm("moduleName"),
            '_label -> "Module Name"
        )
        @helper.select(addModuleForm("gender"), 
              options = options(StaffController.getLecturerNames),
              '_label -> "Lecturer",
              '_default -> "--- Pick a Lecturer ---"
        )
        
        <input type="submit" class="btn secondary" value="Create">
        
    }
    
}