@(slots: List[Slot], addSlotForm: Form[Slot])

@import helper._
@import helper.twitterBootstrap._

@main("Slot") {
    
    <h1>@slots.size() Slot(s)</h1>
    
    <ul>
        @for(slot <- slots) {
            <li>
                @slot.slotId
                @slot.roomId
                @slot.year
                @slot.semester
                @slot.week
                @slot.day
                @slot.startTime
                @slot.duration
                
                @form(routes.SlotController.deleteSlot(slot.id)) {
                    <input type="submit" class="btn secondary" value="Delete">
                }
            </li>
        }
        
    </ul>
    
    <h2>Add a new slot</h2>
    
    @form(routes.SlotController.newSlot()) {
        @helper.inputText(addSlotForm("roomId"),
            '_label -> "Room"
        )
        @helper.inputText(addSlotForm("year"),
            '_label -> "Academic Year"
        )
        @helper.inputText(addSlotForm("semester"),
            '_label -> "Semester"
        )
        @helper.inputText(addSlotForm("week"),
            '_label -> "Week"
        )
        @helper.inputText(addSlotForm("day"),
            '_label -> "Day"
        )
        @helper.select(addSlotForm("other to be changed"), 
              options = options(Days.list),
              '_label -> "Day"
        )
        @helper.inputText(addSlotForm("startTime"),
            '_label -> "Start Time"
        )
        @helper.inputText(addSlotForm("duration"),
            '_label -> "Duration"
        )
               
        <input type="submit" class="btn secondary" value="Create">
        
    }
    
}