@(staff: List[Staff], addStaffForm: Form[Staff])

@import helper._
@import helper.twitterBootstrap._

@main("Staff") {
    
    <h1>@staff.size() Staff Member(s)</h1>
    
    <ul>
        @for(staff <- staff) {
            <li>
                @staff.staffId
                @staff.title
                @staff.forename
                @staff.surname
                @staff.email
                @staff.office
                @staff.phone
                
                @form(routes.StaffController.deleteStaff(staff.id)) {
                    <input type="submit" class="btn secondary" value="Delete">
                }
            </li>
        }
        
    </ul>
    
    <h2>Add a new Staff Member</h2>
    
    @form(routes.StaffController.newStaff()) {
        @helper.inputText(addStaffForm("staffId"),
            '_label -> "Staff Number"
        )
        @helper.select(addStaffForm("title"), 
              options = options(Titles.list),
              '_label -> "Title"
        )
        @helper.inputText(addStaffForm("forename"),
            '_label -> "Forename"
        )
        @helper.inputText(addStaffForm("surname"),
            '_label -> "Surname"
        )
        @helper.inputText(addStaffForm("email"),
            '_label -> "Email Address"
        )
        @helper.inputText(addStaffForm("office"),
            '_label -> "Office"
        )
        @helper.inputText(addStaffForm("phone"),
            '_label -> "Phone Number"
        )
        
        <input type="submit" class="btn secondary" value="Create">
        
    }
    
}