@(students: List[Student], addStudentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student") {
    
    <h1>@students.size() Student(s)</h1>
    
    <ul>
        @for(student <- students) {
            <li>
                @student.studentId
                @student.title
                @student.forename
                @student.surname
                @student.email
                @student.gender
                @student.addressLine1
                @student.addressLine2
                @student.addressLine3
                @student.postcode
                @student.international
                
                @form(routes.StudentController.deleteStudent(student.id)) {
                    <input type="submit" class="btn secondary" value="Delete">
                }
            </li>
        }
        
    </ul>
    
    <h2>Add a new student</h2>

    @form(routes.StudentController.newStudent()) {
        @helper.inputText(addStudentForm("studentId"),
            '_label -> "Student Number"
        )
        @helper.inputText(addStudentForm("title"),
            '_label -> "Title"
        )
        @helper.inputText(addStudentForm("forename"),
            '_label -> "Forename"
        )
        @helper.inputText(addStudentForm("surname"),
            '_label -> "Surname"
        )
        @helper.inputText(addStudentForm("email"),
            '_label -> "Email",
            '_help -> "Enter a valid email address."
        )
        @helper.select(addStudentForm("gender"), 
              options = options(Genders.list),
              '_label -> "Gender"
        )
        @helper.inputText(addStudentForm("addressLine1"),
            '_label -> "Address Line 1"
        )
        @helper.inputText(addStudentForm("addressLine2"),
            '_label -> "Address Line 2"
        )
        @helper.inputText(addStudentForm("addressLine3"),
            '_label -> "Town"
        )
        @helper.inputText(addStudentForm("postcode"),
            '_label -> "Postcode"
        )
        @helper.checkbox(addStudentForm("international"),
            '_label -> "International Student"
        )
        
        <input type="submit" class="btn secondary" value="Create">   
    }   
}