@(students: List[Student], addStudentForm: Form[Student])

@import helper._

@main("Student") {
    
    <h1>@students.size() Student(s)</h1>
    
    <ul>
        @for(student <- students) {
            <li>
                @student.title
                @student.forename
                @student.surname
                @student.gender
                @student.postcode
                @student.international
                
                @form(routes.StudentController.deleteStudent(student.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
        
    </ul>
    
    <h2>Add a new student</h2>
    
    @form(routes.StudentController.newStudent()) {
    
        @inputText(addStudentForm("Title"))
        @inputText(addStudentForm("Forename"))
        @inputText(addStudentForm("Surname"))
        @inputText(addStudentForm("Gender"))
        @inputText(addStudentForm("Postcode"))
        @inputText(addStudentForm("International?"))
        
        <input type="submit" value="Create">
        
    }
    
}